body {
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(46, 95, 95);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#melanie-portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.hero-image {
  background-image: url("assets/img/Computer.png");  
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  /* opacity: .40; */
}

nav {
  background-color: rgba(202, 207, 205, 0.9);
  
}

.btn {
  background-color: rgba(202, 207, 205, 0.9);
  color: rgb(46, 95, 95);
  border: none;
  
}

.btn:hover {
  background-color: rgb(236, 231, 231);
  color: rgb(46, 95, 95); 

}

.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App {
  text-align: center;
}

.card {
  text-align: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/contactme.jpg");
  width: 30%;
  height: 300px;
  margin: auto;
  font-size: 38px;
  margin-top: 20px;
}

.address {
  margin-top: 135px;
  color: rgb(37, 35, 35);
}