body {
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(46, 95, 95);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#melanie-portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.hero-image {
  background-image: url("assets/img/Computer.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  /* opacity: .40; */
}

nav {
  background-color: rgba(202, 207, 205, 0.9);
}

.btn {
  background-color: rgba(202, 207, 205, 0.9);
  color: rgb(46, 95, 95);
  border: none;
}

.btn:hover {
  background-color: rgb(236, 231, 231);
  color: rgb(46, 95, 95);
}

.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App {
  text-align: center;
}

.resume {
  background-image: url("assets/img/contactme.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  height: 400px;
  width: 100%;
  opacity: .80;
  align-content: center;
}

.resrow {
  margin-top: 70px;
  font-size: 30px;
  color: rgb(26, 65, 52);
}

.contactpic {
  background-image: url("assets/img/contactme.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  height: 400px;
  width: 100%;
  opacity: .80;
  font-size: 30px;
}

.address {
  margin-top: 40px;
  margin-left: 5px;
  color: rgb(37, 35, 35);
}

.connect {
  margin-left: 10px;
  margin-top: 70px;
}

/*Portfolio Carousel*/

.slide {
  display: flex;
  align-items: center;
  animation: slideshow 120s linear infinite;
}

.portfolioContainer {
  padding: 9rem;
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
}

.carousel-caption {
  position: initial;
  color: black;
}

@media (max-width: 700px) {
  .row {
    display: contents;
    justify-content: center
  }
  p {
    width: fit-content;
  }
  .slide {
    display: flex;
    align-items: center;
  }
  .Restcontainer {
    padding: 0;
    width: auto;
  }
  .carousel-caption {
    position: initial;
    color: black;
  }
  .container {
    overflow-x: hidden;
    padding: 0;
    padding-bottom: 60px;
  }
  .contact {
    padding: 1rem;

  }
}